.control-section-author-writer h3.accordion-section-title {
  color: #f13b3b !important;
	border: 2px solid #f13b3b !important;
	border-left: none !important;
	border-right: none !important;

}
a.button.button-secondary.alignright{
    background: #151515;
    color: #fff;
}
